<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kaygenzo.bugreporter">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity android:name="com.github.kaygenzo.bugreporter.BugReportActivity"/>
        <activity android:name="com.github.kaygenzo.bugreporter.PaintActivity"/>

        <service android:name="com.github.kaygenzo.bugreporter.FloatingWidgetService"
            android:enabled="true"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.github.kaygenzo.bugreporter"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>